.table {
  margin-top: 20px;
  border: none;
  border-collapse: collapse;
  border: 1px solid color('card');
  
  thead {
    background: color('primary');
    color: color('white');
    
    th {
      padding: 0.9rem 1rem;
      font-size: 1rem;
      color: color('white');
      font-weight: 500;
    }
  }

  tbody {
    &:nth-child(odd) {
      background: color('primary');
      border: 1px solid color('card');
    }
    &:nth-child(even) {
      border: 1px solid color('card');
    }
    tr {
      td {
        padding: 0.9rem 1rem;
        font-size: 1rem;
        color: color('white');
        font-weight: 500;
      }
    }
  }
}


@media screen and(max-width: 576px) {
  .table {
    thead {
      th {
        &:nth-child(1) {
          border-radius: 10px 0 0 0;
        }

        &:last-child {
          border-radius: 0 10px 0 0;
        }
      }
    }
  }
}