.table {
  border: none;
  border-collapse: collapse;
  border: 1px solid color('card');

  thead {
    border-bottom: 2px solid color('white');
    background: color('primary');
    color: color('white');

    th {
      padding: 0.9rem 1rem;
      font-size: 1rem;
      color: color('white');
      font-weight: 500;
    }
  }

  tbody {
    &:nth-child(odd) {
      background: color('primary');
      border: 1px solid color('card');
    }
    &:nth-child(even) {
      border: 1px solid color('card');
    }
    tr {
      td {
        padding: 0.9rem 1rem;
        font-size: 1rem;
        color: color('white');
        font-weight: 500;
      }
    }
  }

  // td {
  //   font-size: .8rem;
  //   color: color('white');
  //   font-weight: 500;
  // }

  // tr {
  //   &:nth-child(even) {
  //     background: color('card');
  //   }
  // }
}
