/* Header style */

.header {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 70px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  &__shrink {
    background: color('card');
    box-shadow: 2px 2px 4px -2px color('primary');
  }
}

.logo h5 {
  font-size: 1.3rem;
  color: color('primary'); // => #7865ff
}

.nav {
  &__menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  &__item {
    a {
      text-decoration: none;
      color: color('white');
      transition: 0.3s;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        color: color('primary');
      }
    }
  }
}

.btn {
  background-color: color('primary'); // => #7865ff
  color: color('white'); // => #fff
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px 25px;
  font-size: 0.9rem;
  cursor: pointer;
  display: none;
  &:hover {
    color: color('ba');
  }

  &__link {
    // => .btn__link
    text-decoration: none;
  }
}

.mobile__menu {
  display: none;

  i {
    // => .mobile__menu i
    color: color('white'); // => #fff
    font-size: 1.3rem;
    cursor: pointer;
  }
}


// tab screen
@media screen and(max-width: 768px) {
  
}

// mobile screen 
@media screen and(max-width: 576px) {
  .nav {
    &__list {
      display: none;
    }
  }
  .btn {
    display: flex;
  }
}