.hero {
  padding-top: 150px;

  &__title {
    font-weight: 600;

    span {
      color: color('primary');
    }
  }

  &__img {
    img {
      border-radius: 10px;
    }
  }

  &__content {
    p {
      font-weight: 300;
      line-height: 30px;
    }
  }

  &__btns {
    .btn {
      background: color('primary');
      color: color('backgrond');
  
      &:hover {
        color: color('background');
      }
  
      a {
        text-decoration: none;
      }
    }
  }
}