.hire__btn {
  background: color('white');
  color: color('backgrond');

  &:hover {
    color: color('background');
  }

  a {
    text-decoration: none;
  }
}

.hero {
  padding-top: 150px;

  &__title {
    font-weight: 600;

    span {
      color: color('primary');
    }
  }

  &__img {
    img {
      width: 400px;
      height: 400px;
      border-radius: 10px;
      background: color('primary');
      margin-left: auto;
    }
  }

  &__content {
    p {
      font-weight: 300;
      line-height: 30px;
    }
  }
}