@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "./jelly-maker.css";
/* card styling */
.grid-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.y-full {
  transform: translateY(-150%);
}

.y-zero {
  transform: translateY(0%);
}

.map {
  filter: grayscale(1) contrast(1.2) opacity(0.5);
}
.nav-menu-border {
  border-bottom: 1px solid rgba(15, 23, 42, 0.5);
}
/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  border: 1px solid white;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f172a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #171717;
}
