.hero
  padding-top: 150px

  &__title
    font-weight: 600

    span
      color: color('primary')

  &__img
    img
      border-radius: 10px

  &__content
    p
      font-weight: 300
      line-height: 30px

  &__btn
    background: color('primary')
    color: color('white')
    border: none
    outline: none
    border-radius: 5px
    padding: 7px 25px
    font-size: 0.9rem
    cursor: pointer
    &:hover
      color: color('background')

    a
      text-decoration: none

// Mobile view

@media screen and (max-width: 576px)
  .hero
    &__img
      display: none
